body {
	font-family: 'Amatic SC', cursive;
	color: lightgray;
	background-color: black;
	text-align: center;
}

#candle-gif {
	height: 500px;
}

h1 {
	font-size: 88px;
	letter-spacing: 1px;
	word-spacing: 10px;
}

a {
	text-decoration: none;
	color: lightgray;
}

a:hover {
	text-decoration: none;
	color: darkgray;
}
