body {
	font-family: 'Amatic SC', cursive;
	color: lightgray;
	background-color: black;
	text-align: center;
	padding: 15px;
	padding-top: 30px;
}

h1 {
	font-size: 80px;
	letter-spacing: 3px;
	word-spacing: 10px;
}

#subtitle {
	font-size: 30px;
	letter-spacing: 1px;
	word-spacing: 5px;
	padding: 30px;
}

a {
	text-decoration: none;
	color: lightgray;
}

a:hover {
	text-decoration: none;
	color: darkgray;
}

#total-wins {
	padding-top: 150px;
}

#candle-gif {
	height: 500px;
}
