body {
	font-family: 'Amatic SC', cursive;
	color: lightgray;
	background-color: black;
	text-align: center;
	padding: 15px;
	padding-top: 30px;
}

h1 {
	font-size: 80px;
	letter-spacing: 3px;
	word-spacing: 10px;
}


#subtitle {
/*	border-size: 2px;
	border-style: solid;
	border-color: pink;*/

	font-size: 30px;
	letter-spacing: 1px;
	word-spacing: 5px;
	padding-top: 15px;
	padding-bottom: 20px;
}

a {
	text-decoration: none;
	color: lightgray;
}

a:hover {
	text-decoration: none;
	color: darkgray;
}

#wins-count {
/*	border-size: 2px;
	border-style: solid;
	border-color: pink;*/

	height: 75px;
	margin-bottom: -20px;
}

#current-word {
/*	border-size: 2px;
	border-style: solid;
	border-color: pink;*/

	font-size: 80px;
}

#candle-gif {
/*	border-size: 2px;
	border-style: solid;
	border-color: pink;*/

	height: 500px;
}

#guesses-left {
/*	border-size: 2px;
	border-style: solid;
	border-color: pink;*/

	height: 75px;
	margin-bottom: -20px;
}

#guessed-letters {
/*	border-size: 2px;
	border-style: solid;
	border-color: pink;*/

	height: 50px;
	padding: 10px;
}

@media all and (min-width: 777px) {
	#current-word {
		padding-top: 100px;
	}
}